<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>This is a flask-app</title>

  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Almarai:wght@800&amp;family=Nunito+Sans&amp;display=swap" />
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <div class="container">
    <div class="content">
      <h1>Hello from this Flask App</a>!</h1>

      <p>
        This static application is running inside a Docker Container.
      </p>

    </div>

    <div class="buttons">
      <a <strong>Sample button #1 here!</strong>
      </a>
      <a <strong>Sample button #2 here!</strong>
      </a>
      <a <strong>Sample button #3 here!</strong>
      </a>
      <a <strong>Sample button #4 here!</strong>
      </a>
    </div>
  </div>

  <div id="stripes">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</body>

</html>